<div id="loading-screen" class="c-loading-screen">
  <div class="c-loading-screen__animation">
    <div class="c-loading-screen__dot"></div>
    <div class="c-loading-screen__dot"></div>
    <div class="c-loading-screen__dot"></div>
  </div>
</div>
