<div id="loading-screen" class="loading-screen">
  <div class="loading-animation">
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
    <div class="loading-dot"></div>
  </div>
</div>
