---
import { siteContent } from '../content.js';

const { backHref = '#hero' } = Astro.props;
---

<footer class="c-footer">
  <div class="o-container">
    <div class="c-footer__content">
      <div class="c-footer__text">
        <p>
          &copy; <span id="footer-year">{new Date().getFullYear()}</span>
          {siteContent.profile.name}. All rights reserved.
        </p>
      </div>
      <div class="c-footer__links">
        <a href={backHref} class="c-footer__link">Back to Top</a>
      </div>
    </div>
  </div>
</footer>
